/* Elegant Theme - Wide margins, high-end serif, minimal */
body.antigravity-theme-elegant {
    font-family: "Didot", "Bodoni MT", "Times New Roman", serif;
    line-height: 2;
    color: #222;
    background-color: #fdfdfd;
    max-width: 700px;
    margin: 0 auto;
    padding: 60px;
}

body.antigravity-theme-elegant h1 {
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 2em;
}

body.antigravity-theme-elegant h2 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    margin: 40px 0;
}

body.antigravity-theme-elegant p::first-letter {
    font-size: 1.5em;
    float: left;
    margin-right: 5px;
    line-height: 1;
}